name: CI
on: [push, pull_request]
jobs:
  test:
    name: ${{ matrix.node-version }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, windows-latest, ubuntu-latest]
        node-version: [10, 12, 13, 14]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: npm i
      - name: Test with coverage
        if: matrix.os != 'windows-latest'
        run: npm test
      - name: Test without coverage
        if: matrix.os == 'windows-latest'
        run: npm run without-cov
