name: CI
on:
  push:
    paths-ignore:
        - 'docs/**'
        - '*.md'
  pull_request:
    paths-ignore:
        - 'docs/**'
        - '*.md'
jobs:
  test:
    name: ${{ matrix.node-version }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, windows-latest, ubuntu-latest]
        node-version: [12, 14, 16]
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.4.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: npm i
      - name: Tests
        run: npm run test-ci

## Disabled because the exclude parameter causes a syntax error
## and I don't know how to fix it. ~ James Sumners 2021-06-20
#   automerge:
#     needs: test
#     runs-on: ubuntu-latest
#     steps:
#       - uses: fastify/github-action-merge-dependabot@v2.1.1
#         with:
#           github-token: ${{ secrets.GITHUB_TOKEN }}
#           exclude: [
#             'sonic-boom',
#             'pino-std-serializers',
#             'quick-format-unescaped',
#             'fast-redact'
#           ]
